# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Sensitive Data
.env
data/
*.tmp
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
